<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/base_styles.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
	<script src="../static/js/shrink_navbar.js"></script>
	<title> Home </title>
</head>

<body>

<div class="top-bar">
	<!-- <div id="zebra">
		<div class="zebra-line" style="background-color:#2A75A9;"></div>
		<div class="zebra-line" style="background-color:#274257;"></div>
		<div class="zebra-line" style="background-color:#644436;"></div>
		<div class="zebra-line" style="background-color:#8F6048;"></div>
	</div> -->

	<div id="navbar">
		<a href="signup.html" id="signup">SIGN UP</a>
		<a href="signin.html" id="signin">SIGN IN</a>	
	</div>
	<div class="main-title">
		

		<a style="text-decoration:none" href="base.html">HARMYA</a>
	</div>
	<div class="sub-title">
		Home Decor &amp; Fashion
	</div>
</div>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a efficitur justo. Donec scelerisque accumsan orci nec pellentesque. Integer tincidunt feugiat efficitur. Nunc orci lectus, sagittis at purus sit amet, congue vehicula dolor. Vestibulum aliquet hendrerit augue, non vehicula nisl ornare sit amet. Morbi at tempor purus. Maecenas non metus in tellus malesuada semper. Curabitur magna metus, pharetra sed scelerisque malesuada, finibus nec enim. Fusce suscipit nec magna at rhoncus. Nunc semper venenatis ornare. Donec tincidunt in turpis fringilla scelerisque.</p>

<p> Morbi porta tincidunt massa, feugiat dictum neque rutrum et. Proin molestie nisl quam, sed ullamcorper mauris ultricies eu. Cras iaculis accumsan eros, ac gravida sem scelerisque nec. Suspendisse nec ex id neque posuere sodales non eu purus. Suspendisse lectus velit, imperdiet vitae ex a, iaculis dictum est. Praesent malesuada mi velit, sit amet vestibulum odio consequat quis. Maecenas vitae malesuada risus. Etiam rhoncus, dui at consectetur sagittis, massa dolor sagittis sem, et ultrices lacus neque vitae nisl. Nullam faucibus suscipit dui ac iaculis. Aliquam ut erat sit amet sem dapibus vehicula. </p>

<p> Mauris placerat vitae orci quis bibendum. Morbi nisl tortor, aliquam id convallis ac, rutrum ut nunc. Cras scelerisque vulputate purus vitae interdum. In suscipit libero eros, et vehicula lorem maximus ut. Curabitur fringilla eros est, eget auctor ex viverra at. Ut consequat bibendum velit, ut imperdiet dui fringilla ut. Suspendisse luctus, risus non ullamcorper commodo, ex arcu tincidunt sapien, vitae elementum massa nibh ac nisl. Cras rhoncus fermentum erat. Morbi ligula magna, maximus ut augue sed, cursus iaculis felis. Sed at scelerisque odio, cursus fringilla magna. Aliquam viverra dictum ultricies. </p>

<p> Etiam malesuada dolor non justo vestibulum, eu tincidunt ligula rhoncus. Quisque pharetra tempus augue, sed viverra ex consectetur a. Etiam dapibus elit eget ipsum faucibus, sodales euismod massa ultrices. Vivamus ac congue nisl. Sed viverra dolor vitae nunc luctus dapibus. Maecenas eu velit eu lectus porta pellentesque. Aliquam nec ligula lectus. Duis aliquet magna sit amet quam efficitur, ac consequat turpis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices, lacus a gravida auctor, sem nisl ornare felis, at aliquet leo eros ut massa. Aenean consectetur magna eu mi scelerisque, eu pellentesque magna efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec elementum turpis. Donec pretium libero ac justo sodales, eu convallis neque malesuada. Duis id quam congue, ornare magna non, bibendum quam. </p>

<p> Sed enim felis, egestas non commodo ac, euismod vel ex. Vivamus ipsum augue, malesuada a sapien vel, sagittis elementum dolor. Aliquam pellentesque tortor non eros congue aliquam. Mauris consectetur, neque eu ornare scelerisque, ipsum urna accumsan est, euismod vestibulum odio ex vel turpis. Ut euismod tellus ut iaculis eleifend. Morbi ornare lorem magna, vel luctus dui tincidunt facilisis. Praesent elementum, tellus vel ultricies placerat, sem ligula lacinia metus, non sagittis felis nibh eu orci. </p>

<p> Quisque efficitur enim eget turpis gravida, congue bibendum metus congue. Morbi accumsan magna vitae lacus iaculis, vitae venenatis augue rutrum. Morbi nec ante lobortis, lacinia ligula sed, congue diam. Donec at quam nisi. Fusce malesuada diam at cursus lacinia. Donec sit amet sodales purus. Morbi ex justo, venenatis sed ornare non, eleifend a ipsum.</p>

<p> Suspendisse elementum, ante eu efficitur finibus, erat massa ultricies dui, nec consectetur nisi orci at elit. In posuere, massa sed pharetra tempus, dui metus sollicitudin risus, congue suscipit eros elit in tortor. Nunc malesuada imperdiet nisi et iaculis. Quisque odio risus, aliquam et enim eget, cursus luctus metus. Donec sagittis elementum eros. In egestas erat magna. Quisque laoreet eros vitae suscipit mollis. Phasellus aliquet euismod ornare. Praesent quis magna vel nibh bibendum suscipit. Morbi quis tempor neque. Donec consequat vel mauris vitae molestie. Suspendisse fringilla euismod sodales. Quisque vel neque eu purus elementum faucibus. Nulla mauris nibh, aliquet quis suscipit in, feugiat sed enim. Donec at accumsan augue. </p>

<p> Sed consequat facilisis tortor ac congue. Mauris mollis nisi mattis risus aliquam, sit amet facilisis elit lobortis. Proin tempus justo vel convallis tincidunt. Curabitur non euismod dolor. Vestibulum tellus augue, tempor vel erat id, aliquam vestibulum ante. Nam diam lectus, placerat non ante sit amet, porta finibus metus. Mauris sit amet tellus sed ex pulvinar placerat. Suspendisse luctus bibendum blandit. Ut nec lacus at ante feugiat lobortis. Integer eu gravida urna. Curabitur id luctus magna, commodo vulputate odio. Ut fringilla lacinia tempus. Duis lobortis justo vitae tempus tempor. </p>

<p> Mauris non mi non quam egestas dictum nec et massa. Vestibulum molestie luctus purus sed imperdiet. Sed a dolor egestas, interdum orci in, faucibus turpis. Proin tristique justo quis dolor elementum rutrum. Curabitur eget commodo erat, et ultricies lorem. Nam in metus vitae sem pharetra egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla eu odio at leo luctus interdum. Pellentesque dapibus urna et elit porta dignissim. Morbi eleifend cursus dictum. </p>

<p> Aliquam sed rutrum felis, eget consequat odio. Sed aliquam enim eget tortor ornare, vitae ultricies neque sagittis. Maecenas faucibus rhoncus tortor in feugiat. Sed vestibulum quam et euismod vehicula. Sed sit amet orci et ligula fringilla euismod. Vivamus sagittis purus rutrum justo tempus pulvinar. Vivamus sagittis, magna ac scelerisque ornare, lacus lacus molestie tellus, in pulvinar sem lorem ac augue. Phasellus dignissim, ipsum vitae mattis viverra, arcu elit varius nibh, nec imperdiet libero arcu vel sapien. Suspendisse mauris quam, malesuada vitae enim eget, ultrices congue eros. Praesent vitae massa risus. </p>

<p> Maecenas maximus lorem et purus consectetur, id blandit nibh mattis. Curabitur quis augue diam. Vivamus libero nulla, tincidunt eu nisi et, sollicitudin blandit velit. Aenean aliquam fermentum purus, non lobortis est laoreet sed. Etiam egestas molestie urna sit amet mollis. Mauris maximus auctor tellus, nec varius odio semper eget. Sed semper iaculis lectus quis condimentum. Curabitur accumsan ipsum at nulla commodo, quis pellentesque odio pulvinar. Morbi mauris sem, blandit ac justo sit amet, molestie vehicula libero. Aenean pulvinar, urna at facilisis aliquet, velit lorem vestibulum magna, vitae pulvinar quam dolor sit amet magna. Sed imperdiet lacus at magna lobortis, in semper odio semper. Quisque finibus est arcu. Cras sit amet finibus tellus, nec finibus risus. </p>

<p> Aenean pharetra rutrum orci vitae dictum. Sed ultricies nulla porta magna molestie finibus. Aenean interdum felis sed dui vehicula, eu condimentum odio pretium. Cras ullamcorper pretium tempus. Nunc luctus mattis libero, non hendrerit tellus. Nullam iaculis, nisl a mollis dignissim, nisl elit aliquam lacus, ac consectetur mauris elit vel sapien. In dapibus, augue id scelerisque rutrum, eros elit mattis velit, vel dapibus elit diam sit amet nunc. Proin condimentum mollis purus sit amet iaculis. </p>

<p> Proin pharetra ut ligula eu efficitur. Fusce tempor auctor sapien ac blandit. Donec nec eros dignissim, posuere neque at, sodales ante. Integer lacinia mollis posuere. Proin egestas turpis maximus fermentum tincidunt. Maecenas posuere purus nec pulvinar vulputate. Vivamus eget elit vitae ante tristique interdum. Sed efficitur, enim vitae vehicula commodo, sem elit pharetra odio, ac vestibulum risus tortor non dolor. </p>

<p> Ut sed velit sed augue efficitur sollicitudin ac quis felis. Pellentesque dictum sed risus eu semper. Nam consequat lorem ac velit suscipit aliquam. In sit amet finibus leo. Cras non feugiat magna. Sed dictum dolor non suscipit pulvinar. Nulla interdum egestas sapien vel interdum. Vivamus sit amet urna nec eros porta venenatis non eget ex. </p>

<p> Sed vitae congue quam. Curabitur varius sit amet lacus vitae bibendum. Curabitur interdum sit amet urna eget suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero lectus, euismod quis tellus vitae, vulputate vehicula nisi. Aenean interdum vel urna ac porta. Curabitur dignissim commodo turpis, sagittis pellentesque ligula pretium non. Integer rhoncus risus viverra urna euismod accumsan. Aliquam nunc tortor, tincidunt eget mauris semper, hendrerit consequat ante. In pharetra vulputate sollicitudin. Proin eu nulla dictum, cursus magna ut, tincidunt lorem. Aenean sagittis nisi a sapien placerat tincidunt. Ut malesuada purus est, eget dignissim arcu lobortis nec. </p>

<p> Fusce facilisis erat purus, id fringilla enim commodo ut. Donec ut egestas metus, eget eleifend ante. Fusce commodo iaculis quam, at suscipit nibh blandit a. Nunc molestie tortor vitae mauris aliquam, ut dictum tortor pretium. Phasellus vel sapien nec sem viverra ullamcorper quis at dolor. Pellentesque semper massa ac malesuada aliquam. Curabitur risus ex, mattis a risus nec, congue suscipit tellus. Suspendisse sed nulla ultrices, elementum metus sed, feugiat nibh. Nullam posuere, augue vitae vulputate pellentesque, nibh tortor finibus libero, hendrerit commodo mi odio et lacus. </p>

<p> Pellentesque scelerisque tempus ante, maximus faucibus sapien. In vel tincidunt justo. Suspendisse tincidunt tincidunt tempus. Nam et dictum dolor, ac hendrerit lectus. Nulla turpis orci, ullamcorper eget dapibus a, ultricies vitae ante. Proin ut sem neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>

<p> Nunc nec pretium arcu. Curabitur vulputate sem quis turpis dapibus, eu maximus est scelerisque. Curabitur interdum laoreet dolor. Quisque eget ante eu neque aliquam feugiat. In suscipit hendrerit leo, vel sollicitudin tellus vehicula a. Sed malesuada ac lacus at ultricies. Aliquam erat volutpat. Quisque sed maximus est, nec feugiat enim. Duis posuere convallis dictum. Maecenas rutrum posuere sem ac scelerisque. Aenean auctor ligula sed dui fringilla, id consequat dui consectetur. Nunc euismod quis leo nec lacinia. Donec accumsan massa egestas laoreet finibus. Morbi et dictum magna, eget posuere diam. Phasellus porta interdum lacus vel mattis. Donec viverra interdum arcu quis sagittis. </p>


</body>