<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
	<title> Home </title>
</head>

<body>

<div class="top-bar">
	<div class="main-title">
		<a style="text-decoration:none" href="base.html">HARMYA</a>
	</div>

	<div class="sub-title">
		Home Decor &amp; Fashion
	</div>
</div>



</body>