<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/signin_styles.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
	<script src="../static/js/signin.js"></script>
	<title> Sign Up </title>
</head>

<body>
<div class=full-container>
	<div id=signin-container>
		<form name='registration' onSubmit="return formValidation();">
		<ul>
		<li><label for="userid">USER ID:</label></li>
		<li><input type="text" name="userid"  /></li>
		<li><label for="passid">PASSWORD:</label></li>
		<li><input type="password" name="passid" size="12" /></li>

		<li><input type="submit" name="signup" value="SIGN IN" /></li>
	</div>
	<div id=text-container>
		<div id='welcome-text'>
			Welcome <a style="text-decoration:none" href="base.html">back!</a>
		</div>
	</div>
</div>